@{
    ViewBag.Title = "Home Page";
}
<br> <br> <br>
<div class="jumbotron">
    <h1>Stock Managment</h1>
    <p class="lead"> Stock Managment System for Administrative functions</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p class="text-justify">
            This module help admin to add different type of products in an inventory system.
            These products Includes Laptops, Mobile Phones, Mobile Assecories or any other electronic appliances.
            This include product name with product quantity.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Purchase</h2>
        <p class="text-justify">
            This module help admin to purchase different type of products in an inventory system.
            These products Includes Laptops, Mobile Phones, Mobile Assecories or any other electronic appliances.
            This include purchase name with product quantity and with purchasing date.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sales</h2>
        <p class="text-justify">
            This module help admin to sale different type of products in an inventory system.
            These products Includes Laptops, Mobile Phones, Mobile Assecories or any other electronic appliances.
            This include sale name with product quantity and with purchasing date.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Track Purchase Item</h2>
        <p class="text-justify">
            This module help admin to track purchase item from different custmors that selected item from product inventory.
            The admin can update the status for purchase item and allow purchasing staff to dispatched it.
            These products Includes Laptops, Mobile Phones, Mobile Assecories or any other electronic appliances.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Custmer Purchase Item</h2>
        <p class="text-justify">
            This module help custmer to purchase item from product inventory by giving correct and legal credentials.
            The admin can update the status for purchase item and allow purchasing staff to dispatched it.
            These products Includes Laptops, Mobile Phones, Mobile Assecories or any other electronic appliances.
        </p>
    </div>
</div>